oldlabs/
*.DS_Store
.ipynb_checkpoints/
refs/
.gitignore
.Rhistory

*.gal

lab-1/geog187-lab1-instructions-2018.odt

lab-1/.~lock.geog187-lab1-instructions-2018.odt#

lab-1/data/AucklandCity.zip

lab-1/data/AucklandTB.zip

*.tex

*.png
